# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [2]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [4]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [5]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [17]:
quantities = data.groupby(['CustomerID','ProductName'])['Quantity'].sum()
quantities

CustomerID  ProductName
33          Apricots - Dried                  1
            Assorted Desserts                 1
            Bandage - Flexible Neon           1
            Bar Mix - Pina Colada, 355 Ml     1
            Beans - Kidney, Canned            1
                                             ..
98200       Vol Au Vents                     50
            Wasabi Powder                    25
            Wine - Fume Blanc Fetzer         25
            Wine - Hardys Bankside Shiraz    25
            Yogurt - French Vanilla          25
Name: Quantity, Length: 63628, dtype: int64

In [15]:
type(quantities)

pandas.core.series.Series

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [22]:
pivot_table = data.pivot_table(index='ProductName', columns='CustomerID', values='Quantity', fill_value=0)
pivot_table

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,1,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [23]:
# Calculate the pairwise distances between customers using the 'euclidean' metric
distances = pdist(pivot_table.values.T, metric='euclidean')
distances

array([ 10.72380529,   9.64365076,   9.89949494, ..., 266.9269563 ,
       266.9269563 , 269.25824036])

In [24]:
# Create a square matrix from the pairwise distances
similarity_matrix = pd.DataFrame(squareform(distances), index=pivot_table.columns, columns=pivot_table.columns)
similarity_matrix

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.000000,10.723805,9.643651,9.899495,10.440307,10.148892,10.723805,10.246951,10.344080,10.148892,...,206.963765,194.766527,199.145675,183.463893,202.259734,198.075743,203.921554,197.949489,218.824130,203.798921
200,10.723805,0.000000,10.677078,10.723805,11.489125,11.045361,10.770330,10.954451,10.677078,10.488088,...,206.269242,194.285872,198.423789,182.543146,202.044550,197.729613,202.723950,197.349943,218.625250,203.953426
264,9.643651,10.677078,0.000000,10.344080,10.198039,10.488088,10.677078,10.583005,10.488088,10.488088,...,206.366179,194.517351,199.153207,182.789496,201.772149,196.817174,203.315026,197.324606,218.029814,203.806281
356,9.899495,10.723805,10.344080,0.000000,10.630146,10.535654,10.630146,9.949874,10.630146,10.440307,...,206.726873,194.643263,199.025124,182.923481,202.264678,197.575302,204.293906,197.322072,218.142155,203.681123
412,10.440307,11.489125,10.198039,10.630146,0.000000,10.677078,10.677078,10.198039,10.770330,10.392305,...,206.985507,193.889144,199.168271,182.805908,202.034650,197.339808,204.066166,197.466453,217.928887,202.960587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,198.075743,197.729613,196.817174,197.575302,197.339808,197.324606,197.339808,197.441130,197.451260,197.699267,...,266.926956,252.487623,265.753645,246.221445,251.246891,0.000000,252.487623,252.487623,278.388218,276.134025
98069,203.921554,202.723950,203.315026,204.293906,204.066166,204.051464,203.821000,203.919102,203.683578,203.678668,...,273.861279,264.575131,268.095132,263.391344,256.173769,252.487623,0.000000,254.950976,276.134025,264.575131
98159,197.949489,197.349943,197.324606,197.322072,197.466453,197.451260,197.466453,197.694208,197.197870,197.572771,...,266.926956,250.000000,258.602011,256.173769,261.007663,252.487623,254.950976,0.000000,266.926956,266.926956
98185,218.824130,218.625250,218.029814,218.142155,217.928887,218.487986,218.501716,218.135279,218.373533,218.940631,...,287.228132,287.228132,272.717803,265.753645,279.508497,278.388218,276.134025,266.926956,0.000000,269.258240
98200,203.798921,203.953426,203.806281,203.681123,202.960587,203.192027,203.698306,203.796467,204.051464,203.310108,...,273.861279,266.926956,261.007663,261.007663,263.391344,276.134025,264.575131,266.926956,269.258240,0.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [26]:
target_customer_id = 200 # here i am taking the 200 customerid

# Get the similarity scores for the target customer
target_customer_scores = similarity_matrix.loc[target_customer_id]
target_customer_scores

CustomerID
33        10.723805
200        0.000000
264       10.677078
356       10.723805
412       11.489125
            ...
97928    197.729613
98069    202.723950
98159    197.349943
98185    218.625250
98200    203.953426
Name: 200, Length: 1000, dtype: float64

In [27]:
similar_customers = target_customer_scores.drop(target_customer_id).sort_values(ascending=False)
similar_customers

CustomerID
96560    219.253278
91443    218.924645
98185    218.625250
97324    218.281928
91777    216.831732
            ...
3909      10.148892
3317      10.099505
3253      10.099505
1072       9.797959
1920       9.591663
Name: 200, Length: 999, dtype: float64

In [29]:
# Get the top 5 most similar customers
top_similar_customers = similar_customers.head(5)
top_similar_customers

CustomerID
96560    219.253278
91443    218.924645
98185    218.625250
97324    218.281928
91777    216.831732
Name: 200, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [30]:
# Get the CustomerIDs of the top 5 similar customers
similar_customer_ids = top_similar_customers.index.tolist()
similar_customer_ids

[96560, 91443, 98185, 97324, 91777]

In [31]:
# Filter the data for the top 5 similar customers
similar_customers_data = data[data['CustomerID'].isin(similar_customer_ids)]
similar_customers_data

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
57,97324,Darrick,Williamson,5653021,229,Bread - Hot Dog Buns,25
58,97324,Darrick,Williamson,6196374,229,Bread - Hot Dog Buns,25
94,98185,Katina,Moyer,4759015,229,Bread - Hot Dog Buns,25
806,91777,Ramona,Cabrera,2203,102,"Rosemary - Primerba, Paste",24
1125,91777,Ramona,Cabrera,6252822,17,"Wine - White, Mosel Gold",24
...,...,...,...,...,...,...,...
67896,91777,Ramona,Cabrera,2716494,351,Hot Chocolate - Individual,24
68114,98185,Katina,Moyer,3306355,292,Turkey - Oven Roast Breast,25
68211,97324,Darrick,Williamson,6041846,106,Pickerel - Fillets,25
68263,98185,Katina,Moyer,6752054,106,Pickerel - Fillets,25
68499,97324,Darrick,Williamson,2888053,211,Wine - Prosecco Valdobiaddene,25

In [32]:
# Aggregate the purchase records by ProductName and sum the Quantity
product_purchases = similar_customers_data.groupby('ProductName')['Quantity'].sum()
product_purchases

ProductName
Anchovy Paste - 56 G Tube            25
Appetizer - Mini Egg Roll, Shrimp    24
Appetizer - Mushroom Tart            25
Appetizer - Sausage Rolls            49
Apricots - Halves                    25
                                     ..
Wine - Wyndham Estate Bin 777        49
Wonton Wrappers                      25
Yeast Dry - Fermipan                 25
Yogurt - Blueberry, 175 Gr           48
Yogurt - French Vanilla              25
Name: Quantity, Length: 270, dtype: int64

In [33]:
# Rank the products in descending order by quantity
ranked_products = product_purchases.sort_values(ascending=False)
ranked_products

ProductName
Cream Of Tartar                 100
Pasta - Penne, Rigate, Dry       99
Durian Fruit                     99
Shrimp - 31/40                   99
Bandage - Flexible Neon          98
                               ...
Lemonade - Natural, 591 Ml       24
Placemat - Scallop, White        24
Langers - Ruby Red Grapfruit     24
Lamb - Whole, Fresh              24
Ocean Spray - Ruby Red           24
Name: Quantity, Length: 270, dtype: int64

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [36]:
# Merge the ranked products DataFrame with the customer product matrix on the 'ProductName' field
merged_data = pd.merge(ranked_products, pivot_table, on='ProductName')
merged_data

,Quantity,33,200,264,356,412,464,477,639,649,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Cream Of Tartar,100,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Pasta - Penne, Rigate, Dry",99,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,25,0
Durian Fruit,99,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,0
Shrimp - 31/40,99,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,25,0,0
Bandage - Flexible Neon,98,1,0,1,0,0,0,0,0,0,...,0,0,25,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Lemonade - Natural, 591 Ml",24,0,1,1,0,0,0,0,0,0,...,0,0,0,0,25,0,0,0,0,0
"Placemat - Scallop, White",24,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Langers - Ruby Red Grapfruit,24,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,25,0,0,0,0
"Lamb - Whole, Fresh",24,0,1,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,25
Ocean Spray - Ruby Red,24,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
# Filter for records where the chosen customer has not purchased the product
recommended_products = merged_data[merged_data[target_customer_id] == 0]
recommended_products

,Quantity,33,200,264,356,412,464,477,639,649,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Cream Of Tartar,100,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Pasta - Penne, Rigate, Dry",99,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,25,0
Durian Fruit,99,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,0
Bandage - Flexible Neon,98,1,0,1,0,0,0,0,0,0,...,0,0,25,0,0,0,0,0,0,0
Chicken - Soup Base,98,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Squid - Tubes / Tenticles 10/20,24,1,0,0,0,0,0,0,1,0,...,25,0,0,0,0,0,0,25,0,0
Corn Meal,24,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,25,0,0,0,0
"Placemat - Scallop, White",24,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Langers - Ruby Red Grapfruit,24,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,25,0,0,0,0
Ocean Spray - Ruby Red,24,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
 recommended_products.head(5)

,Quantity,33,200,264,356,412,464,477,639,649,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Cream Of Tartar,100,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Pasta - Penne, Rigate, Dry",99,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,25,0
Durian Fruit,99,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,0
Bandage - Flexible Neon,98,1,0,1,0,0,0,0,0,0,...,0,0,25,0,0,0,0,0,0,0
Chicken - Soup Base,98,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [39]:
# Create an empty dictionary to hold recommendations for all customers
recommendations = {}

In [40]:
# Create a list of unique CustomerIDs
customer_list = pivot_table.columns.tolist()
customer_list

[33,
 200,
 264,
 356,
 412,
 464,
 477,
 639,
 649,
 669,
 694,
 756,
 883,
 891,
 1008,
 1034,
 1066,
 1072,
 1336,
 1428,
 1435,
 1534,
 1577,
 1594,
 1754,
 1839,
 1920,
 2187,
 2329,
 2503,
 2556,
 2566,
 2582,
 2617,
 2686,
 2754,
 2776,
 2902,
 2915,
 2939,
 3074,
 3253,
 3267,
 3305,
 3317,
 3472,
 3531,
 3535,
 3544,
 3885,
 3903,
 3909,
 4261,
 4479,
 4595,
 4644,
 4723,
 5104,
 5177,
 5183,
 5224,
 5230,
 5434,
 5678,
 5739,
 5832,
 5921,
 5968,
 5986,
 5997,
 6001,
 6185,
 6317,
 6352,
 6367,
 6447,
 6543,
 6734,
 6817,
 6851,
 7021,
 7134,
 7223,
 7543,
 7606,
 7623,
 7772,
 7827,
 7987,
 7999,
 8316,
 8367,
 8372,
 8539,
 8711,
 8917,
 8962,
 9047,
 9132,
 9260,
 9302,
 9533,
 9546,
 9597,
 9771,
 9804,
 10016,
 10094,
 10114,
 10224,
 10311,
 10418,
 10739,
 11023,
 11057,
 11083,
 11102,
 11253,
 11325,
 11380,
 11441,
 11443,
 11614,
 11628,
 11744,
 11883,
 11933,
 12059,
 12206,
 12232,
 12381,
 12529,
 12561,
 12596,
 12598,
 12852,
 12888,
 13062,
 13118,
 13338,
 13354,
 13681,
 13699,
 13823,
 13912,
 14012,
 14208,
 14501,
 14782,
 14910,
 14913,
 14977,
 15027,
 15088,
 15119,
 15148,
 15165,
 15166,
 15371,
 15373,
 15415,
 15420,
 15672,
 15796,
 15851,
 15888,
 15920,
 15986,
 16139,
 16375,
 16481,
 16614,
 16650,
 16664,
 16809,
 16971,
 16997,
 17097,
 17136,
 17263,
 17390,
 17404,
 17407,
 17458,
 17472,
 17760,
 17765,
 17906,
 18027,
 18040,
 18133,
 18281,
 18293,
 18364,
 18441,
 18480,
 18552,
 18591,
 18622,
 18680,
 18683,
 18688,
 18706,
 18720,
 18728,
 18760,
 18796,
 19074,
 19147,
 19148,
 19260,
 19312,
 19442,
 19526,
 19753,
 20006,
 20125,
 20134,
 20331,
 20433,
 20446,
 20476,
 20648,
 20901,
 20907,
 21027,
 21095,
 21177,
 21734,
 21795,
 21973,
 22175,
 22204,
 22308,
 22322,
 22345,
 22408,
 22454,
 22461,
 22508,
 22536,
 22705,
 22751,
 22901,
 22939,
 22982,
 23001,
 23165,
 23176,
 23220,
 23377,
 23451,
 23515,
 23548,
 24137,
 24271,
 24323,
 24435,
 24490,
 24554,
 24820,
 25013,
 25040,
 25125,
 25209,
 25270,
 25292,
 25327,
 25420,
 25421,
 25449,
 25624,
 25651,
 25703,
 25779,
 25994,
 25995,
 26031,
 26353,
 26375,
 26458,
 26601,
 26850,
 26974,
 27045,
 27160,
 27209,
 27381,
 27410,
 27546,
 27572,
 27669,
 27672,
 27760,
 27821,
 27826,
 27841,
 27849,
 27857,
 28030,
 28191,
 28368,
 28702,
 28751,
 28756,
 28867,
 28875,
 28976,
 28984,
 29095,
 29258,
 29287,
 29342,
 29444,
 29475,
 29580,
 29656,
 29681,
 29721,
 29867,
 29910,
 29998,
 30196,
 30324,
 30423,
 30451,
 30575,
 30803,
 30815,
 30954,
 31075,
 31100,
 31113,
 31323,
 31373,
 31409,
 31468,
 31549,
 31820,
 32010,
 32028,
 32180,
 32324,
 32373,
 32386,
 32558,
 32575,
 32584,
 32682,
 32753,
 32785,
 32946,
 33051,
 33132,
 33320,
 33325,
 33381,
 33749,
 33759,
 33840,
 33878,
 34184,
 34291,
 34657,
 35028,
 35034,
 35107,
 35531,
 35575,
 35873,
 35877,
 36042,
 36138,
 36179,
 36200,
 36201,
 36566,
 36737,
 36740,
 36751,
 36829,
 37495,
 37510,
 37619,
 37873,
 38048,
 38125,
 38154,
 38186,
 38265,
 38307,
 38339,
 38358,
 38405,
 38497,
 38703,
 38798,
 38890,
 39110,
 39280,
 39537,
 39552,
 39757,
 39813,
 40094,
 40099,
 40223,
 40863,
 40896,
 40901,
 40934,
 40985,
 41045,
 41147,
 41286,
 41319,
 41405,
 41538,
 41722,
 41747,
 41829,
 41834,
 41843,
 42087,
 42157,
 42303,
 42306,
 42394,
 42399,
 42426,
 42459,
 42611,
 42612,
 42776,
 42802,
 42819,
 43270,
 43345,
 43529,
 43589,
 43652,
 44030,
 44058,
 44090,
 44349,
 44408,
 44667,
 44742,
 44859,
 45042,
 45266,
 45313,
 45420,
 45498,
 45549,
 45582,
 45598,
 45754,
 45759,
 45786,
 45846,
 45965,
 46036,
 46046,
 46146,
 46250,
 46315,
 46324,
 46367,
 46482,
 46551,
 46659,
 46715,
 46807,
 46826,
 46910,
 46971,
 47062,
 47122,
 47303,
 47305,
 47497,
 47605,
 47845,
 47913,
 47985,
 48108,
 48139,
 48156,
 48534,
 48611,
 48641,
 48642,
 48655,
 48818,
 48858,
 48963,
 49005,
 49159,
 49454,
 49474,
 49491,
 49795,
 49981,
 50004,
 50098,
 50416,
 50435,
 50461,
 50497,
 50535,
 50670,
 50748,
 50761,
 50774,
 51023,
 51121,
 51160,
 51182,
 51224,
 51279,
 51451,
 51483,
 51631,
 51718,
 51742,
 51834,
 51934,
 51939,
 52024,
 52091,
 52139,
 52154,
 52155,
 52479,
 52634,
 52700,
 53176,
 53198,
 53214,
 53226,
 53501,
 53729,
 53851,
 53997,
 54001,
 54093,
 54495,
 54547,
 54774,
 54827,
 54857,
 54894,
 54906,
 55124,
 55162,
 55245,
 55275,
 55281,
 55380,
 55381,
 55580,
 55715,
 55780,
 55875,
 55876,
 55930,
 55932,
 56319,
 56374,
 56382,
 56469,
 56479,
 56567,
 56786,
 56887,
 57024,
 57090,
 57168,
 57241,
 57317,
 57459,
 57497,
 57606,
 57654,
 57737,
 57977,
 57991,
 58064,
 58165,
 58203,
 58246,
 58321,
 58348,
 58353,
 58366,
 58413,
 58421,
 58535,
 58639,
 58652,
 58874,
 59017,
 59108,
 59150,
 59207,
 59258,
 59379,
 59399,
 59626,
 59703,
 59710,
 59711,
 59831,
 59925,
 60185,
 60378,
 60389,
 60481,
 60515,
 60612,
 60759,
 60781,
 60862,
 60917,
 60938,
 60969,
 61223,
 61288,
 61417,
 61601,
 61750,
 61923,
 62005,
 62034,
 62094,
 62101,
 62184,
 62242,
 62277,
 62279,
 62411,
 62421,
 62592,
 62719,
 63033,
 63086,
 63120,
 63295,
 63368,
 63742,
 63771,
 63803,
 63891,
 63963,
 64117,
 64202,
 64301,
 64348,
 64575,
 64597,
 64615,
 64775,
 64787,
 64862,
 65326,
 65535,
 65650,
 65678,
 65731,
 65757,
 65785,
 65830,
 65875,
 65910,
 65925,
 66177,
 66232,
 66320,
 66419,
 66445,
 66632,
 66709,
 66807,
 66822,
 66987,
 67058,
 67061,
 67203,
 67281,
 67428,
 67473,
 67582,
 67636,
 67682,
 68076,
 68298,
 68336,
 68416,
 68506,
 68627,
 68680,
 68699,
 68829,
 69027,
 69397,
 69906,
 69931,
 69967,
 70017,
 70324,
 70354,
 70363,
 70512,
 70517,
 70624,
 70986,
 71085,
 71282,
 71298,
 71595,
 71844,
 71948,
 72056,
 72063,
 72152,
 72305,
 72311,
 72330,
 72428,
 72433,
 72487,
 72546,
 72750,
 72829,
 72846,
 73030,
 73031,
 73190,
 73280,
 73353,
 73609,
 73614,
 74077,
 74213,
 74237,
 74403,
 74451,
 74784,
 75022,
 75762,
 75791,
 75793,
 76281,
 76378,
 76389,
 76442,
 76475,
 76511,
 76530,
 76532,
 76690,
 76796,
 76983,
 77037,
 77352,
 77574,
 77628,
 77651,
 77682,
 77685,
 77696,
 77756,
 77810,
 77814,
 77950,
 78048,
 78054,
 78082,
 78104,
 78133,
 78252,
 78297,
 78312,
 78488,
 78489,
 78541,
 78718,
 78896,
 78903,
 78966,
 78981,
 78993,
 79060,
 79068,
 79141,
 79189,
 79230,
 79290,
 79353,
 79458,
 79470,
 79854,
 79997,
 80167,
 80184,
 80372,
 80380,
 80432,
 80538,
 80694,
 80782,
 80849,
 80890,
 80898,
 80938,
 81001,
 81012,
 81034,
 81179,
 81226,
 81281,
 81293,
 81324,
 81331,
 81361,
 81479,
 81501,
 81591,
 81696,
 81715,
 81813,
 81845,
 81876,
 81981,
 82057,
 82146,
 82161,
 82432,
 82440,
 82493,
 82532,
 82597,
 82620,
 82922,
 83106,
 83158,
 83355,
 83495,
 83608,
 83940,
 83973,
 84280,
 84349,
 84364,
 84575,
 84577,
 84594,
 84671,
 84703,
 84779,
 84972,
 85032,
 85161,
 85246,
 85292,
 85437,
 85480,
 85496,
 85524,
 85552,
 85642,
 85766,
 85878,
 85902,
 86028,
 86065,
 86111,
 86136,
 86167,
 86527,
 86560,
 86595,
 86625,
 86662,
 86786,
 87030,
 87228,
 87285,
 87303,
 87408,
 87559,
 87849,
 87920,
 87938,
 87947,
 87967,
 88159,
 88245,
 88318,
 88533,
 88552,
 88733,
 88769,
 88855,
 89110,
 89181,
 89254,
 89272,
 89408,
 89424,
 89425,
 89573,
 89588,
 89725,
 90054,
 90069,
 90174,
 90193,
 90284,
 90300,
 90347,
 90508,
 90694,
 90776,
 90777,
 90933,
 91013,
 91058,
 91176,
 91194,
 91220,
 91224,
 91443,
 91652,
 91713,
 91777,
 91783,
 92067,
 92139,
 92168,
 92255,
 92418,
 92492,
 92525,
 92543,
 92594,
 92637,
 92673,
 92951,
 92995,
 93417,
 93445,
 93505,
 93540,
 93692,
 93882,
 93918,
 94258,
 94420,
 94438,
 94547,
 94599,
 94910,
 94951,
 95017,
 95034,
 95059,
 95078,
 95121,
 95314,
 95372,
 95819,
 96024,
 96088,
 96272,
 96522,
 96524,
 96560,
 96615,
 96666,
 96684,
 97029,
 97052,
 97063,
 97093,
 97201,
 97282,
 97324,
 97495,
 97697,
 97753,
 97769,
 97793,
 97900,
 97928,
 98069,
 98159,
 98185,
 98200]

In [41]:
for customer_id in customer_list:
    target_customer_id = customer_id
    target_customer_scores = similarity_matrix.loc[target_customer_id]
    similar_customers = target_customer_scores.drop(target_customer_id).sort_values(ascending=False)
    top_similar_customers = similar_customers.head(5)

In [42]:
# Store the top 5 recommended products in the recommendations dictionary
recommendations[customer_id] = recommended_products.head(5)

In [43]:
# Display the recommendations for all customers
for customer_id, recommended_products in recommendations.items():
    print("Customer ID:", customer_id)
    print(recommended_products)
    print()

Customer ID: 98200
                            Quantity  33  200  264  356  412  464  477  639  \
ProductName
Cream Of Tartar                  100   0    0    0    0    0    0    1    0
Pasta - Penne, Rigate, Dry        99   0    0    0    0    0    0    0    0
Durian Fruit                      99   0    0    0    0    0    0    0    0
Bandage - Flexible Neon           98   1    0    1    0    0    0    0    0
Chicken - Soup Base               98   0    0    0    0    1    0    0    0

                            649  ...  97697  97753  97769  97793  97900  \
ProductName                      ...
Cream Of Tartar               0  ...      0     25      0      0      0
Pasta - Penne, Rigate, Dry    0  ...      0      0      0     25      0
Durian Fruit                  0  ...      0      0      0      0      0
Bandage - Flexible Neon       0  ...      0      0     25      0      0
Chicken - Soup Base           0  ...      0      0      0      0      0

                            97928  98069  98159  98185  98200
ProductName
Cream Of Tartar                 0      0      0      0      0
Pasta - Penne, Rigate, Dry      0      0      0     25      0
Durian Fruit                    0      0      0     25      0
Bandage - Flexible Neon         0      0      0      0      0
Chicken - Soup Base             0      0      0      0      0

[5 rows x 1001 columns]

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.