## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
sample_list_1 = []
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[65, 10, 29, 12, 99, 85, 19, 91, 43, 50, 3, 25, 17, 62, 96, 48, 82, 36, 49, 83, 46, 72, 14, 42, 58, 56, 33, 81, 23, 55, 40, 27, 51, 8, 76, 11, 35, 61, 86, 60, 94, 68, 92, 0, 34, 89, 74, 6, 20, 32, 47, 22, 45, 95, 44, 52, 18, 77, 66, 28, 16, 4, 80, 30, 1, 75, 53, 93, 79, 71, 38, 54, 69, 73, 63, 70, 37, 24, 84, 15]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1))

{0, 1, 3, 4, 6, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 89, 91, 92, 93, 94, 95, 96, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# Your code here
sample_list_2 = []
for i in range (80):
    sample_list_2.append(random.randint(0,100))
    
print(sample_list_2)

[63, 75, 95, 29, 95, 28, 38, 92, 51, 54, 80, 11, 18, 34, 39, 6, 78, 57, 22, 95, 16, 24, 65, 73, 73, 52, 19, 47, 96, 9, 90, 76, 63, 43, 3, 92, 24, 46, 7, 79, 27, 11, 55, 21, 18, 35, 99, 25, 72, 41, 6, 40, 38, 74, 5, 25, 22, 86, 28, 86, 95, 34, 58, 8, 87, 52, 48, 55, 76, 65, 18, 52, 1, 69, 64, 8, 26, 53, 7, 75]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [11]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2)) # i am getting the length 55, not 80

{1, 3, 5, 6, 7, 8, 9, 11, 16, 18, 19, 21, 22, 24, 25, 26, 27, 28, 29, 34, 35, 38, 39, 40, 41, 43, 46, 47, 48, 51, 52, 53, 54, 55, 57, 58, 63, 64, 65, 69, 72, 73, 74, 75, 76, 78, 79, 80, 86, 87, 90, 92, 95, 96, 99}
55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [12]:
# Your code here
set3 = set.add(set1)
print(set3)

TypeError: set.add() takes exactly one argument (0 given)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [ ]:
# Your code here

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [ ]:
# Your code here

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6 = ()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

set6.update(set3,set5)
print(set6) # my previous codes are not completed, thats why can not see the result.

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here
print("set1 and set6 are equal? " , set1 == set6)

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here
set1.pop(0)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [14]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = list(set1)
set1.remove(list_to_remove)
print(set1)

ValueError: list.remove(x): x not in list