# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
#Import your libraries
import numpy as np
import pandas as pd

# Introduction

In this lab, we will use two datasets. Both datasets contain variables that describe apps from the Google Play Store. We will use our knowledge in feature extraction to process these datasets and prepare them for the use of a ML algorithm.

# Challenge 1 - Loading and Extracting Features from the First Dataset

#### In this challenge, our goals are: 

* Exploring the dataset.
* Identify the columns with missing values.
* Either replacing the missing values in each column or drop the columns.
* Conver each column to the appropriate type.

#### The first dataset contains different information describing the apps. 

Load the dataset into the variable `google_play` in the cell below. The dataset is in the file `googleplaystore.csv`

In [2]:
# Your code here:
google_play = pd.read_csv('../../data/googleplaystore.csv')
google_play.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

#### Examine all variables and their types in the following cell

In [3]:
# Your code here:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [10]:
#print(google_play.dtypes)

#### Since this dataset only contains one numeric column, let's skip the `describe()` function and look at the first 5 rows using the `head()` function

In [7]:
# Your code here:
google_play.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

#### We can see that there are a few columns that could be coerced to numeric.

Start with the reviews column. We can evaluate what value is causing this column to be of object type finding the non-numeric values in this column. To do this, we recall the `to_numeric()` function. With this function, we are able to coerce all non-numeric data to null. We can then use the `isnull()` function to subset our dataframe using the True/False column that this function generates.

In the cell below, transform the Reviews column to numeric and assign this new column to the variable `Reviews_numeric`. Make sure to coerce the errors.

In [29]:
google_play['Reviews'].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [4]:
# Your code here:

Reviews_numeric = pd.to_numeric(google_play['Reviews'], errors='coerce')
Reviews_numeric.head()

0       159.0
1       967.0
2     87510.0
3    215644.0
4       967.0
Name: Reviews, dtype: float64

In [5]:
Reviews_numeric.isnull().sum()

1

Next, create a column containing True/False values using the `isnull()` function. Assign this column to the `Reviews_isnull` variable.

In [11]:
Reviews_isnull = Reviews_numeric.isnull()
Reviews_isnull

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838    False
10839    False
10840    False
Name: Reviews, Length: 10841, dtype: bool

In [12]:
google_play.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [16]:
# Your code here:
google_play["Reviews_isnull"] = Reviews_isnull

In [22]:
google_play.drop(['Reviews_numeric'], axis=1, inplace=True)

In [23]:
google_play.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Reviews_isnull'],
      dtype='object')

In [19]:
google_play.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,159.0,False
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,967.0,False
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,87510.0,False
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,215644.0,False
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,967.0,False

Finally, subset the `google_play` with `Reviews_isnull`. This should give you all the rows that contain non-numeric characters.

Your output should look like:

![Reviews_bool.png](../images/reviews-bool.png)

In [24]:
google_play[Reviews_isnull]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,True

In [10]:
# Your code here:
google_play.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

#### We see that Google Play is using a shorthand for millions. 

Let's write a function to transform this data.

Steps:

1. Create a function that returns the correct numeric values of *Reviews*.
1. Define a test string with `M` in the last character.
1. Test your function with the test string. Make sure your function works correctly. If not, modify your functions and test again.

In [ ]:
# Your code here

def convert_string_to_numeric(s):
    """
    Convert a string value to numeric. If the last character of the string is `M`, obtain the 
    numeric part of the string, multiply it with 1,000,000, then return the result. Otherwise, 
    convert the string to numeric value and return the result.
    
    Args:
        s: The Reviews score in string format.

    Returns:
        The correct numeric value of the Reviews score.
    """
    return np.NaN

test_string = '4.0M'

convert_string_to_numeric(test_string) == 4000000

In [54]:
"""def convert_string_to_numeric(s):
    if s[-1] == 'M':
        return float(s[:-1]) * 1000000
    else:
        return float(s)

test_string = '4.0M'

convert_string_to_numeric(test_string) == 4000000"""

True

In [86]:
def convert_string_to_numeric(s):
    if 'M' in str(s):
        s = s.replace('M','')
        num = float(s)*1000000
        return int(num)
    elif 'k' in str(s):
        s = s.replace('k','')
        num = float(s)*1000000
        return int(num)
    else:
        return s
    
test_string = '4.0M'

convert_string_to_numeric(test_string) == 4000000

True

In [101]:
convert_string_to_numeric('4.0M')

4000000

In [102]:
convert_string_to_numeric('Varies with device')

'Varies with device'

The last step is to apply the function to the `Reviews` column in the following cell:

In [89]:
# Your code here:
google_play['Reviews'] = google_play['Reviews'].apply(convert_string_to_numeric)

In [90]:
google_play['Reviews']

0           159.0
1           967.0
2         87510.0
3        215644.0
4           967.0
           ...
10836        38.0
10837         4.0
10838         3.0
10839       114.0
10840    398307.0
Name: Reviews, Length: 10841, dtype: float64

In [91]:
google_play[Reviews_isnull]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3000000.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,True

Check the non-numeric `Reviews` row again. It should have been fixed now and you should see:

![Reviews_bool_fixed.png](../images/reviews-bool-fixed.png)

In [92]:
# Your code here
google_play[Reviews_isnull]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3000000.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,True

Also check the variable types of `google_play`. The `Reviews` column should be a `float64` type now.

In [93]:
# Your code here:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  float64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
 13  Reviews_isnull  10841 non-null  bool
dtypes: bool(1), float64(2), object(11)
memory usage: 1.1+ MB

#### The next column we will look at is `Size`. We start by looking at all unique values in `Size`:

*Hint: use `unique()` ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html))*.

In [103]:
# Your code here:
google_play['Size'].unique()

array([19000000, 14000000, 8700000, 25000000, 2800000, 5600000, 29000000,
       33000000, 3100000, 28000000, 12000000, 20000000, 21000000,
       37000000, 2700000, 5500000, 17000000, 39000000, 31000000, 4200000,
       7000000, 23000000, 6000000, 6100000, 4600000, 9200000, 5200000,
       11000000, 24000000, 'Varies with device', 9400000, 15000000,
       10000000, 1200000, 26000000, 8000000, 7900000, 56000000, 57000000,
       35000000, 54000000, 201000000, 3600000, 5700000, 8600000, 2400000,
       27000000, 2500000, 16000000, 3400000, 8900000, 3900000, 2900000,
       38000000, 32000000, 5400000, 18000000, 1100000, 2200000, 4500000,
       9800000, 52000000, 9000000, 6700000, 30000000, 2600000, 7100000,
       3700000, 22000000, 7400000, 6400000, 3200000, 8199999, 9900000,
       4900000, 9500000, 5000000, 5900000, 13000000, 73000000, 6800000,
       3500000, 4000000, 2300000, 7200000, 2100000, 42000000, 7300000,
       9100000, 55000000, 6500000, 1500000, 7500000, 51000000, 41000000,
       48000000, 8500000, 46000000, 8300000, 4300000, 4700000, 3300000,
       40000000, 7800000, 8800000, 6600000, 5100000, 61000000, 66000000,
       79000000, 8400000, 118000000, 44000000, 695000000, 1600000,
       6200000, 53000000, 1400000, 3000000, 5800000, 3800000, 9600000,
       45000000, 63000000, 49000000, 77000000, 4400000, 4800000, 70000000,
       6900000, 9300000, 8100000, 36000000, 84000000, 97000000, 2000000,
       1900000, 1800000, 5300000, 47000000, 556000000, 526000000,
       76000000, 7600000, 59000000, 9700000, 78000000, 72000000, 43000000,
       7700000, 6300000, 334000000, 34000000, 93000000, 65000000,
       100000000, 58000000, 50000000, 68000000, 64000000, 67000000,
       60000000, 94000000, 232000000, 99000000, 624000000, 95000000,
       292000000, 80000000, 1700000, 74000000, 62000000, 69000000,
       75000000, 98000000, 85000000, 82000000, 96000000, 87000000,
       71000000, 86000000, 91000000, 81000000, 92000000, 83000000,
       88000000, 704000000, 862000000, 899000000, 378000000, 266000000,
       375000000, 1300000, 975000000, 980000000, 4099999, 89000000,
       696000000, 544000000, 525000000, 920000000, 779000000, 853000000,
       720000000, 713000000, 772000000, 318000000, 241000000, 196000000,
       857000000, 953000000, 865000000, 251000000, 930000000, 540000000,
       313000000, 746000000, 203000000, 314000000, 239000000, 371000000,
       220000000, 730000000, 756000000, 293000000, 317000000, 924000000,
       902000000, 818000000, 939000000, 169000000, 475000000, 965000000,
       90000000, 545000000, 283000000, 655000000, 714000000, 872000000,
       121000000, 322000000, 1000000, 976000000, 172000000, 238000000,
       549000000, 206000000, 954000000, 444000000, 717000000, 210000000,
       609000000, 308000000, 705000000, 306000000, 904000000, 473000000,
       175000000, 350000000, 383000000, 454000000, 421000000, 812000000,
       442000000, 842000000, 417000000, 412000000, 459000000, 478000000,
       335000000, 782000000, 721000000, 430000000, 429000000, 192000000,
       200000000, 460000000, 728000000, 496000000, 816000000, 414000000,
       506000000, 887000000, 613000000, 243000000, 569000000, 778000000,
       683000000, 592000000, 319000000, 186000000, 840000000, 647000000,
       191000000, 373000000, 437000000, 598000000, 716000000, 585000000,
       982000000, 222000000, 219000000, 948000000, 323000000, 691000000,
       511000000, 951000000, 963000000, 554000000, 351000000, 208000000,
       913000000, 514000000, 551000000, 103000000, 898000000, 743000000,
       116000000, 153000000, 209000000, 353000000, 499000000, 173000000,
       597000000, 809000000, 122000000, 411000000, 400000000, 801000000,
       787000000, 237000000, 643000000, 986000000, 516000000, 837000000,
       780000000, 961000000, 269000000, 498000000, 600000000, 749000000,
       642000000, 881000000, 656000000, 601000000, 221000000, 228000000,
       108000000, 940000000, 176000000, 663000000, 942000000, 259000000,
       164000000, 458000000, 245000000, 629000000, 288000000, 775000000,
       785000000, 636000000, 916000000, 994000000, 309000000, 485000000,
       914000000, 903000000, 608000000, 500000000, 562000000, 847000000,
       957000000, 688000000, 811000000, 270000000, 329000000, 523000000,
       921000000, 874000000, 981000000, 784000000, 280000000, 518000000,
       754000000, 892000000, 154000000, 860000000, 364000000, 387000000,
       626000000, 161000000, 879000000, 970000000, 170000000, 141000000,
       160000000, 144000000, 143000000, 190000000, 376000000, 193000000,
       246000000, 658000000, 992000000, 253000000, 420000000, 404000000,
       '1,000+', 470000000, 226000000, 240000000, 234000000, 257000000,
       861000000, 467000000, 157000000, 676000000, 552000000, 885000000,
       1020000000, 582000000, 619000000], dtype=object)

You should have seen lots of unique values of the app sizes.

#### While we can convert most of the `Size` values to numeric in the same way we converted the `Reviews` values, there is one value that is impossible to convert.

What is that badass value? Enter it in the next cell and calculate the proportion of its occurence to the total number of records of `google_play`.

In [104]:
google_play['Size'] = google_play['Size'].apply(convert_string_to_numeric)

In [105]:
google_play['Size'].unique()

array([19000000, 14000000, 8700000, 25000000, 2800000, 5600000, 29000000,
       33000000, 3100000, 28000000, 12000000, 20000000, 21000000,
       37000000, 2700000, 5500000, 17000000, 39000000, 31000000, 4200000,
       7000000, 23000000, 6000000, 6100000, 4600000, 9200000, 5200000,
       11000000, 24000000, 'Varies with device', 9400000, 15000000,
       10000000, 1200000, 26000000, 8000000, 7900000, 56000000, 57000000,
       35000000, 54000000, 201000000, 3600000, 5700000, 8600000, 2400000,
       27000000, 2500000, 16000000, 3400000, 8900000, 3900000, 2900000,
       38000000, 32000000, 5400000, 18000000, 1100000, 2200000, 4500000,
       9800000, 52000000, 9000000, 6700000, 30000000, 2600000, 7100000,
       3700000, 22000000, 7400000, 6400000, 3200000, 8199999, 9900000,
       4900000, 9500000, 5000000, 5900000, 13000000, 73000000, 6800000,
       3500000, 4000000, 2300000, 7200000, 2100000, 42000000, 7300000,
       9100000, 55000000, 6500000, 1500000, 7500000, 51000000, 41000000,
       48000000, 8500000, 46000000, 8300000, 4300000, 4700000, 3300000,
       40000000, 7800000, 8800000, 6600000, 5100000, 61000000, 66000000,
       79000000, 8400000, 118000000, 44000000, 695000000, 1600000,
       6200000, 53000000, 1400000, 3000000, 5800000, 3800000, 9600000,
       45000000, 63000000, 49000000, 77000000, 4400000, 4800000, 70000000,
       6900000, 9300000, 8100000, 36000000, 84000000, 97000000, 2000000,
       1900000, 1800000, 5300000, 47000000, 556000000, 526000000,
       76000000, 7600000, 59000000, 9700000, 78000000, 72000000, 43000000,
       7700000, 6300000, 334000000, 34000000, 93000000, 65000000,
       100000000, 58000000, 50000000, 68000000, 64000000, 67000000,
       60000000, 94000000, 232000000, 99000000, 624000000, 95000000,
       292000000, 80000000, 1700000, 74000000, 62000000, 69000000,
       75000000, 98000000, 85000000, 82000000, 96000000, 87000000,
       71000000, 86000000, 91000000, 81000000, 92000000, 83000000,
       88000000, 704000000, 862000000, 899000000, 378000000, 266000000,
       375000000, 1300000, 975000000, 980000000, 4099999, 89000000,
       696000000, 544000000, 525000000, 920000000, 779000000, 853000000,
       720000000, 713000000, 772000000, 318000000, 241000000, 196000000,
       857000000, 953000000, 865000000, 251000000, 930000000, 540000000,
       313000000, 746000000, 203000000, 314000000, 239000000, 371000000,
       220000000, 730000000, 756000000, 293000000, 317000000, 924000000,
       902000000, 818000000, 939000000, 169000000, 475000000, 965000000,
       90000000, 545000000, 283000000, 655000000, 714000000, 872000000,
       121000000, 322000000, 1000000, 976000000, 172000000, 238000000,
       549000000, 206000000, 954000000, 444000000, 717000000, 210000000,
       609000000, 308000000, 705000000, 306000000, 904000000, 473000000,
       175000000, 350000000, 383000000, 454000000, 421000000, 812000000,
       442000000, 842000000, 417000000, 412000000, 459000000, 478000000,
       335000000, 782000000, 721000000, 430000000, 429000000, 192000000,
       200000000, 460000000, 728000000, 496000000, 816000000, 414000000,
       506000000, 887000000, 613000000, 243000000, 569000000, 778000000,
       683000000, 592000000, 319000000, 186000000, 840000000, 647000000,
       191000000, 373000000, 437000000, 598000000, 716000000, 585000000,
       982000000, 222000000, 219000000, 948000000, 323000000, 691000000,
       511000000, 951000000, 963000000, 554000000, 351000000, 208000000,
       913000000, 514000000, 551000000, 103000000, 898000000, 743000000,
       116000000, 153000000, 209000000, 353000000, 499000000, 173000000,
       597000000, 809000000, 122000000, 411000000, 400000000, 801000000,
       787000000, 237000000, 643000000, 986000000, 516000000, 837000000,
       780000000, 961000000, 269000000, 498000000, 600000000, 749000000,
       642000000, 881000000, 656000000, 601000000, 221000000, 228000000,
       108000000, 940000000, 176000000, 663000000, 942000000, 259000000,
       164000000, 458000000, 245000000, 629000000, 288000000, 775000000,
       785000000, 636000000, 916000000, 994000000, 309000000, 485000000,
       914000000, 903000000, 608000000, 500000000, 562000000, 847000000,
       957000000, 688000000, 811000000, 270000000, 329000000, 523000000,
       921000000, 874000000, 981000000, 784000000, 280000000, 518000000,
       754000000, 892000000, 154000000, 860000000, 364000000, 387000000,
       626000000, 161000000, 879000000, 970000000, 170000000, 141000000,
       160000000, 144000000, 143000000, 190000000, 376000000, 193000000,
       246000000, 658000000, 992000000, 253000000, 420000000, 404000000,
       '1,000+', 470000000, 226000000, 240000000, 234000000, 257000000,
       861000000, 467000000, 157000000, 676000000, 552000000, 885000000,
       1020000000, 582000000, 619000000], dtype=object)

In [100]:
for i in google_play['Size']:
    if type(i) != int:
        print(i)
        break

Varies with device

In [110]:
proportion = len(google_play[google_play['Size'] == i]) / len(google_play)
proportion

0.15635089013928605

#### While this column may be useful for other types of analysis, we opt to drop it from our dataset. 

There are two reasons. First, the majority of the data are ordinal but a sizeable proportion are missing because we cannot convert them to numerical values. Ordinal data are both numerical and categorical, and they usually can be ranked (e.g. 82k is smaller than 91M). In contrast, non-ordinal categorical data such as blood type and eye color cannot be ranked. The second reason is as a categorical column, it has too many unique values to produce meaningful insights. Therefore, in our case the simplest strategy would be to drop the column.

Drop the column in the cell below (use `inplace=True`)

In [111]:
# Your code here:
google_play.drop(['Size'],axis=1,inplace=True)

In [112]:
google_play.head()

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_isnull
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,False
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,False
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,False
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,False
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,False

#### Now let's look at how many missing values are in each column. 

This will give us an idea of whether we should come up with a missing data strategy or give up on the column all together. In the next column, find the number of missing values in each column: 

*Hint: use the `isna()` and `sum()` functions.*

In [113]:
# Your code here:
google_play.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
Reviews_isnull       0
dtype: int64

You should find the column with the most missing values is now `Rating`.

#### What is the proportion of the missing values in `Rating` to the total number of records?

Enter your answer in the cell below.

In [114]:
# Your code here:
proportion_missing = google_play['Rating'].isnull().sum() / len(google_play)
proportion_missing

0.13596531685268887

A sizeable proportion of the `Rating` column is missing. A few other columns also contain several missing values.

#### We opt to preserve these columns and remove the rows containing missing data.

In particular, we don't want to drop the `Rating` column because:

* It is one of the most important columns in our dataset. 

* Since the dataset is not a time series, the loss of these rows will not have a negative impact on our ability to analyze the data. It will, however, cause us to lose some meaningful observations. But the loss is limited compared to the gain we receive by preserving these columns.

In the cell below, remove all rows containing at least one missing value. Use the `dropna()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)). Assign the new dataframe to the variable `google_missing_removed`.

In [115]:
# Your code here:
google_missing_removed = google_play.dropna()
google_missing_removed.head()

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_isnull
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,False
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,False
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,False
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,False
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,False

From now on, we use the `google_missing_removed` variable instead of `google_play`.

#### Next, we look at the `Last Updated` column.

The `Last Updated` column seems to contain a date, though it is classified as an object type. Let's convert this column using the `pd.to_datetime` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)).

In [116]:
# Your code here:
google_missing_removed['Last Updated'] = pd.to_datetime(google_missing_removed['Last Updated'])

C:\Users\mujib\AppData\Local\Temp\ipykernel_11644\2467473143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google_missing_removed['Last Updated'] = pd.to_datetime(google_missing_removed['Last Updated'])

In [117]:
google_missing_removed.head()

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_isnull
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,"10,000+",Free,0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,False
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,False
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,"5,000,000+",Free,0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up,False
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,"50,000,000+",Free,0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up,False
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up,False

#### The last column we will transform is `Price`. 

We start by looking at the unique values of this column.

In [118]:
# Your code here:
google_missing_removed['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$7.99', '$5.99', '$2.99', '$3.49',
       '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49', '$10.00',
       '$24.99', '$11.99', '$79.99', '$16.99', '$14.99', '$29.99',
       '$12.99', '$2.49', '$10.99', '$1.50', '$19.99', '$15.99', '$33.99',
       '$39.99', '$3.95', '$4.49', '$1.70', '$8.99', '$1.49', '$3.88',
       '$399.99', '$17.99', '$400.00', '$3.02', '$1.76', '$4.84', '$4.77',
       '$1.61', '$2.50', '$1.59', '$6.49', '$1.29', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$8.49', '$1.75', '$14.00', '$2.00',
       '$3.08', '$2.59', '$19.40', '$3.90', '$4.59', '$15.46', '$3.04',
       '$13.99', '$4.29', '$3.28', '$4.60', '$1.00', '$2.95', '$2.90',
       '$1.97', '$2.56', '$1.20'], dtype=object)

Since all prices are ordinal data without exceptions, we can tranform this column by removing the dollar sign and converting to numeric. We can create a new column called `Price Numerical` and drop the original column.

We will achieve our goal in three steps. Follow the instructions of each step below.

#### First we remove the dollar sign. Do this in the next cell by applying the `str.replace` function to the column to replace `$` with an empty string (`''`).

In [119]:
# Your code here:
google_missing_removed['Price Numerical'] = google_missing_removed['Price'].str.replace('$','')

C:\Users\mujib\AppData\Local\Temp\ipykernel_11644\1696754349.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  google_missing_removed['Price Numerical'] = google_missing_removed['Price'].str.replace('$','')
C:\Users\mujib\AppData\Local\Temp\ipykernel_11644\1696754349.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google_missing_removed['Price Numerical'] = google_missing_removed['Price'].str.replace('$','')

In [121]:
#google_missing_removed.head()

#### Second step, coerce the `Price Numerical` column to numeric.

In [122]:
# Your code here:
google_missing_removed['Price Numerical'] = pd.to_numeric(google_missing_removed['Price Numerical'], errors='coerce')

C:\Users\mujib\AppData\Local\Temp\ipykernel_11644\2907589948.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google_missing_removed['Price Numerical'] = pd.to_numeric(google_missing_removed['Price Numerical'], errors='coerce')

**Finally, drop the original `Price` column.**

In [126]:
# Your code here:
google_missing_removed.drop(['Price'],axis=1,inplace=True)

C:\Users\mujib\AppData\Local\Temp\ipykernel_11644\4206570515.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google_missing_removed.drop(['Price'],axis=1,inplace=True)

Now check the variable types of `google_missing_removed`. Make sure:

* `Size` and `Price` columns have been removed.
* `Rating`, `Reviews`, and `Price Numerical` have the type of `float64`.
* `Last Updated` has the type of `datetime64`.

In [127]:
# Your code here
google_missing_removed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   App              9360 non-null   object
 1   Category         9360 non-null   object
 2   Rating           9360 non-null   float64
 3   Reviews          9360 non-null   float64
 4   Installs         9360 non-null   object
 5   Type             9360 non-null   object
 6   Content Rating   9360 non-null   object
 7   Genres           9360 non-null   object
 8   Last Updated     9360 non-null   datetime64[ns]
 9   Current Ver      9360 non-null   object
 10  Android Ver      9360 non-null   object
 11  Reviews_isnull   9360 non-null   bool
 12  Price Numerical  9360 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(3), object(8)
memory usage: 959.8+ KB

# Challenge 2 - Loading and Extracting Features from the Second Dataset

Load the second dataset to the variable `google_reviews`. The data is in the file `googleplaystore_user_reviews.csv`.

In [128]:
# Your code here:
google_reviews = pd.read_csv('../../data/googleplaystore_user_reviews.csv')
google_reviews.head(10)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
5,10 Best Foods for You,Best way,Positive,1.00,0.300000
6,10 Best Foods for You,Amazing,Positive,0.60,0.900000
7,10 Best Foods for You,NaN,NaN,NaN,NaN
8,10 Best Foods for You,"Looking forward app,",Neutral,0.00,0.000000
9,10 Best Foods for You,It helpful site ! It help foods get !,Neutral,0.00,0.000000

#### This dataset contains the top 100 reviews for each app. 

Let's examine this dataset using the `head` function

In [ ]:
# Your code here

#### The main piece of information we would like to extract from this dataset is the proportion of positive reviews of each app. 

Columns like `Sentiment_Polarity` and `Sentiment_Subjectivity` are not to our interests because we have no clue how to use them. We do not care about `Translated_Review` because natural language processing is too complex for us at present (in fact the `Sentiment`, `Sentiment_Polarity`, and `Sentiment_Subjectivity` columns are derived from `Translated_Review` the data scientists). 

What we care about in this challenge is `Sentiment`. To be more precise, we care about **what is the proportion of *Positive* sentiment of each app**. This will require us to aggregate the `Sentiment` data by `App` in order to calculate the proportions.

Now that you are clear about what we are trying to achieve, follow the steps below that will walk you through towards our goal.

#### Our first step will be to remove all rows with missing sentiment. 

In the next cell, drop all rows with missing data using the `dropna()` function and assign this new dataframe to `review_missing_removed`.

In [130]:
# Your code here:
review_missing_removed = google_reviews.dropna()
review_missing_removed.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
5,10 Best Foods for You,Best way,Positive,1.00,0.300000

#### Now, use the `value_counts()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) to get a sense on how many apps are in this dataset and their review counts.

In [132]:
# Your code here:
review_missing_removed['App'].value_counts()

Bowmasters                        312
Helix Jump                        273
Angry Birds Classic               273
Calorie Counter - MyFitnessPal    254
Duolingo: Learn Languages Free    240
                                 ...
Draw a Stickman: EPIC 2             1
HD Camera                           1
Draw In                             1
Draw A Stickman                     1
Best Fiends - Free Puzzle Game      1
Name: App, Length: 865, dtype: int64

#### Now the tough part comes. Let's plan how we will achieve our goal:

1. We will count the number of reviews that contain *Positive* in the `Sentiment` column.

1. We will create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app.

1. We will then loop the new dataframe to calculate the postivie review portion of each app.

#### Step 1: Count the number of positive reviews.

In the following cell, write a function that takes a column and returns the number of times *Positive* appears in the column. 

*Hint: One option is to use the `np.where()` function ([documentation](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.where.html)).*

In [ ]:
# Your code below

def positive_function(x):
    """
    Count how many times the string `Positive` appears in a column (exact string match).
    
    Args:
        x: data column
    
    Returns:
        The number of occurrences of `Positive` in the column data.
    """
    return 0

In [133]:
def positive_function(x):
    return np.sum(np.where(x == 'Positive', 1, 0))

#### Step 2: Create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app

We will group `review_missing_removed` by the `App` column, then aggregate the grouped dataframe on the number of positive reviews and the total review counts of each app. The result will be assigned to a new variable `google_agg`. Here is the ([documentation on how to achieve it](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)). Take a moment or two to read the documentation and google examples because it is pretty complex.

When you obtain `google_agg`, check its values to make sure it has an `App` column as its index as well as a `Positive` column and a `Total` column. Your output should look like:

![Positive Reviews Agg](../images/positive-review-agg.png)

*Hint: Use `positive_function` you created earlier as part of the param passed to the `agg()` function in order to aggregate the number of positive reviews.*

#### Bonus:

As of Pandas v0.23.4, you may opt to supply an array or an object to `agg()`. If you use the array param, you'll need to rename the columns so that their names are `Positive` and `Total`. Using the object param will allow you to create the aggregated columns with the desirable names without renaming them. However, you will probably encounter a warning indicating supplying an object to `agg()` will become outdated. It's up to you which way you will use. Try both ways out. Any way is fine as long as it works.

In [136]:
# Your code here:
google_grouped = review_missing_removed.groupby('App')['Sentiment'].agg(Positive=positive_function)
google_grouped['Total'] = review_missing_removed['App'].value_counts()
google_agg = google_grouped.reset_index()

In [137]:
# Your code here
google_agg.head()

                                App  Positive  Total
0             10 Best Foods for You       162    194
1  104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室        31     40
2                              11st        23     39
3        1800 Contacts - Lens Store        64     80
4   1LINE – One Line with One Touch        27     38

Print the first 5 rows of `google_agg` to check it.

#### Add a derived column to `google_agg` that is the ratio of the `Positive` and the `Total` columns. Call this column `Positive Ratio`. 

Make sure to account for the case where the denominator is zero using the `np.where()` function.

In [ ]:
# Your code here:

#### Now drop the `Positive` and `Total` columns. Do this with `inplace=True`.

In [ ]:
# Your code here:

Print the first 5 rows of `google_agg`. Your output should look like:

![Positive Reviews Agg](../images/positive-review-ratio.png)

In [ ]:
# Your code here:

# Challenge 3 - Join the Dataframes

In this part of the lab, we will join the two dataframes and obtain a dataframe that contains features we can use in our ML algorithm.

In the next cell, join the `google_missing_removed` dataframe with the `google_agg` dataframe on the `App` column. Assign this dataframe to the variable `google`.

In [138]:
# Your code here:
google = review_missing_removed.merge(google_agg, on='App')

#### Let's look at the final result using the `head()` function. Your final product should look like:

![Final Product](../images/google-final-head.png)

In [139]:
# Your code here:
google.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity,Positive,Total
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333,162,194
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462,162,194
2,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000,162,194
3,10 Best Foods for You,Best idea us,Positive,1.00,0.300000,162,194
4,10 Best Foods for You,Best way,Positive,1.00,0.300000,162,194